<div class="container-fluid container-fluid-custom">
    <h1>About</h1>
    <p>Notes App adalah aplikasi untuk mencatat ide dan pikiran Anda. Aplikasi ini gratis dan mudah digunakan.
      Aplikasi ini dibuat dengan NodeJS, EJS dan MongoDB
    </p>
  
    <div class="list-block">
      <div class="list-block-column">
        <h1>Features</h1>
        <ul>
          <li>Attractive Front Page</li>
          <li>Google Authentication</li>
          <li>Search</li>
          <li>Pagination</li>
          <li>Create Notes</li>
          <li>Update Notes</li>
          <li>View Notes</li>
          <li>Delete Notes</li>
        </ul>
      </div>
      <div class="list-block-column">
        <h2>Tech Stack</h2>
        <ul>
          <li>HTML5</li>
          <li>NodeJS</li>
          <li>Express</li>
          <li>NodeJS</li>
          <li>EJS</li>
          <li>MongoDB</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>
  </div>